#root {
  min-height: calc(100vh - 16px);
  padding: 8px;
}

.App {
  text-align: center;
}

#slider {
  max-width: calc(100% - 16px);
}

.card {
  max-width: 345;
}

.media {
  height: 0;
  padding-top: 56.25%;
}

form {
  text-align: center;
}

.country {
  text-transform: capitalize;
}

.paper {
  padding: 12px;
}
