body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  min-height: calc(100vh - 16px);
  padding: 8px;
  background-color: #f4f6f8;
  background-image: url("./background.svg");
}

#container {
  min-height: calc(100vh - 16px);
}

.App {
  text-align: center;
}

#slider {
  max-width: calc(100% - 16px);
}

.card {
  max-width: 345;
}

.media {
  height: 0;
  padding-top: 56.25%;
}

form {
  text-align: center;
}

.country {
  text-transform: capitalize;
}

.paper {
  padding: 12px;
}

#nights {
  flex-grow: 1;
}

#name, #price {
  margin: auto 8px;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.large-icon {
  font-size: 5rem;
}
